* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
}
.navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.navbar .leftSide .links {
  max-height: 80px;
}
.navbar .leftSide .links a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 25px;
  padding: 0.5rem;
}
.navbar .leftSide .links a:hover {
  background-color: red;
  transition: 0.3s ease-in-out;
  border-radius: 1rem;
}
.navbar .leftSide button {
  display: none;
  margin-left: 20px;
}
.hamburger-button {
  background-color: transparent;
  color: white;
  font-size: 1.25rem;
}
.fa-bars:focus {
  outline: none;
}
/* .navbar .leftSide #hidden {
  display: flex;
} */
.navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}
.rightSide input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  color: black;
  font-size: 20px;
}


@media screen and (max-width: 850px) {
  .navbar .leftSide .links a {
    font-size: 20;
  }
}
@media screen and (max-width: 750px) {
  .navbar .leftSide .links a {
    font-size: 15px;
  }
}
@media screen and (max-width: 650px) {

  .navbar .leftSide button {
    display: flex;
  }
  .navbar .leftSide .links {
    display: none;
  }
  .navbar .leftSide #hidden {
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 1;
    /* height: 230px; */
    max-height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .leftSide #hidden a {
    margin: 10px;
    font-size: 25px;
  }

}
/* .navbar {

  background-color: black;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar-links {
  margin: 1.5rem;
  padding: 0.2rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.navbar-links:hover {
  border-radius: 1rem;
  background-color: red;
  color: black;
  transition: 0.2s ease-in-out;
}

.navbarExtra {
  margin: 7px 5px 5px 10rem;
  float: right;
  min-width: 1%;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  background-color: #ffffff;
  color: black;
}
.navbar-cart-link {
  width: 25px;
}
.cart-link {
  color: white;
}
@media screen and (max-width: 1000px) {
  .navbar {
    display: inline-flex;
    justify-content: left;
    align-items: center;
  }
  @media screen and (max-width: 300px) {
    .navbar {
      display: inline-flex;
      justify-content: left;
      align-items: center;
    }
  }
} */
