@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, serif;
}
body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}
.about-us{
margin: 1rem auto;
display: flex;

width: 80%;
}
.about-us img{
  width: 500px;
  height: 500px;
}
.main-heading {
  /* z-index: 2; */
  text-align: center;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: black;
  color: white;
  box-shadow: 0 0 1rem red;
  border-radius: 1rem;
  width: 30%;
}
@media screen and (max-width: 700px) {
  .main-heading {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 400px) {
    .main-heading {
      font-size: 1rem;
    }
  }
}
